body {
    font-family: Arial, sans-serif;
    background-color: #005fcc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
  }

  .login-container h2 {
    color: #333;
  }

  .login-form {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  .form-group input {
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .form-group button {
    background-color: #74b0f5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #005fcc;
  }
  #doctor-patient-radio{
    display: flex;
    justify-content: space-around;
  }
  a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }